<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name="co.pushalert.NotificationHandler"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"/>

        <activity android:name="co.pushalert.PermissionRequestActivity"
            android:theme="@style/PermissionRequestTheme"
            android:exported="false" />

        <!-- [START firebase_service] -->
        <service android:exported="false" android:name="co.pushalert.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        
    </application>

</manifest>
